{{ define "content" }}
		<p> SERVIÇO DE AJUDA AO CLIENTE. </p>
		<p> Rest é uma solução de software para automação de dispositivos em casas inteligentes. </p>
		<p> Sua navegação é feita de forma bem simples.</p>
		<p> Primeiro, é necessário efetuar o cadastro no Rest.</p>
		<p> Ao realizar e validar o cadastro a solução já estará disponível para uso imediato.</p>
		<p> Após o cadastro você deve escolher entre as opções de uso na barra de tarefas localizada no canto superior da tela. Com base nessa seleção é possível navegar pelo programa e utilizar suas funcionalidades.</p> 
		<p> Recomendamos que tire um tempo para analisar todas as opções oferecidas.</p>
		<p> Para poder controlar seus dispositivos, basta cadastra-los na nossa plataforma, identificando o dispositivo, onde ele se encontra e quem terá acesso a ele.</p>
		<p> Agora é só começar a usar e aproveitar o conforto e comodidade que Rest trás para você!</p>
{{ end }}

{{ define "script" }}

{{ end }}